# OS関連
.DS_Store
Thumbs.db

# Android Studio関連
.idea/
*.iml
.gradle/
local.properties


# ビルド結果
/build/
/app/build/
/app/build.gradle.kts
/gradle/libs.versions.toml
/app/google-services.json

# キャッシュ・ログ
*.log

# Androidパッケージ関連
*.apk
*.ap_

# 自動生成ファイル・フォルダ
/captures/
/output.json

# テスト結果やレポート
test-output/

# 環境変数ファイル（APIキーなど機密情報）
.env
.env.*

# Node.js関連（もし使っていたら）
node_modules/

# Kotlin関連（キャッシュなど）
.kotlinc/

# IntelliJやJetBrains系エディター関連（補足）
*.iws
.idea_modules/

#